<style type="text/css">
  @font-face {
    font-family: 'hk_grotesk';
    src: url("{{ '/assets/hkgrotesk-bold-webfont.eot' | relative_url }}");
    src: url("{{ '/assets/hkgrotesk-bold-webfont.eot?#iefix' | relative_url }}") format('embedded-opentype'),
         url("{{ '/assets/hkgrotesk-bold-webfont.woff2' | relative_url }}") format('woff2'),
         url("{{ '/assets/hkgrotesk-bold-webfont.woff' | relative_url }}") format('woff');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'hk_grotesk';
    src: url("{{ '/assets/hkgrotesk-bolditalic-webfont.eot' | relative_url }}");
    src: url("{{ '/assets/hkgrotesk-bolditalic-webfont.eot?#iefix' | relative_url }}") format('embedded-opentype'),
         url("{{ '/assets/hkgrotesk-bolditalic-webfont.woff2' | relative_url }}") format('woff2'),
         url("{{ '/assets/hkgrotesk-bolditalic-webfont.woff' | relative_url }}") format('woff');
    font-weight: bold;
    font-style: italic;
  }


  @font-face {
    font-family: 'hk_grotesk';
    src: url("{{ '/assets/hkgrotesk-italic-webfont.eot' | relative_url }}");
    src: url("{{ '/assets/hkgrotesk-italic-webfont.eot?#iefix' | relative_url }}") format('embedded-opentype'),
         url("{{ '/assets/hkgrotesk-italic-webfont.woff2' | relative_url }}") format('woff2'),
         url("{{ '/assets/hkgrotesk-italic-webfont.woff' | relative_url }}") format('woff');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'hk_grotesk';
    src: url("{{ '/assets/hkgrotesk-regular-webfont.eot' | relative_url }}");
    src: url("{{ '/assets/hkgrotesk-regular-webfont.eot?#iefix' | relative_url }}") format('embedded-opentype'),
         url("{{ '/assets/hkgrotesk-regular-webfont.woff2' | relative_url }}") format('woff2'),
         url("{{ '/assets/hkgrotesk-regular-webfont.woff' | relative_url }}") format('woff');
    font-weight: normal;
    font-style: normal;
  }
</style>
