{% if page.layout == "fr" %}
  {% assign lang_translations = "Traductions littéraires publiées" %}
  {% assign lang_social = "Coordonnées" %}
{% elsif page.layout == "en" %}
  {% assign lang_translations = "Published literary translations" %}
{% endif %}

<div class="sidebar-block">
  <h5>{{ lang_translations }}</h5>
  <ul>
    <li>
      <a target="_blank" href="https://quebecreads.com/chairx/">Ici la chair est partout</a>
    </li>
    <li>
      <a target="_blank" href="https://qcfiction.com/?page_id=5298">I Never Talk About It</a>
    </li>
    <li>
      <a target="_blank" href="https://maisonneuve.org/post/2017/01/3/love-half-mast/">Love at Half Mast</a>
    </li>
  </ul>
</div>

<div class="sidebar-block">
  <ul>
    <li>
      <a target="_blank" href="//www.linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a>
    </li>
  </ul>
</div>

{% if include.portrait %}
  <div class="sidebar-block">
    <figure>
      <img src="/assets/portrait.jpg">
    </figure>
  </div>
{% endif %}
