.block {
  @extend %layout, %clearfix;
  padding: $space-large;
  margin-bottom: $space-medium;
  font-size: 0;

  &:nth-child(odd) {
    background-color: $color-background-2;
  }

  &:nth-child(even) {
    background-color: $color-background-3;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
  }

  h4 {
    margin-top: 4px;
    margin-bottom: $space-small;
    font-size: 24px;
  }
}

.block-column {
  display: inline-block;
  vertical-align: top;
  font-size: $font-size;

  &:first-child {
    width: 100%;
    max-width: calc(100% * 3/12);
  }

  &:last-child {
    width: 100%;
    max-width: calc(100% * 7/12);
    float: right;

    *:first-child {
      margin-top: 6px;
    }
  }
}
