$max-width: 960px;
$font-size: 18px;
$font-size-small: 14px;
$font-family-header: 'Forum';
$font-family: 'hk_grotesk';

// Colors
$color-background-1: #FFFFFF;
$color-background-2: #FBFAF8;
$color-background-3: #F8F9FB;
$color-button: #2E3B48;
$color-border: #D5D5D5;

$color-header: #000000;
$color-text: rgba($color-header, 0.5);

// Spacing
$space-small: 20px;
$space-medium: 50px;
$space-large: 80px;

// Inputs
$input-height: 50px;
$color-input-placeholder: rgba(#000, 0.4);